
# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / Visual Studio Code / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
/UnityProject/.vscode/

# Unity generated
# ===============
/UnityProject/[Tt]emp/
/UnityProject/[Oo]bj/
/UnityProject/[Bb]uild
/UnityProject/[Bb]uilds/
/UnityProject/[Ll]ibrary/
/UnityProject/sysinfo.txt
/UnityProject/*.stackdump
/UnityProject/.vs/

# Mod bundles
# ===============
UnityProject/Assets/Mods/*
!UnityProject/Assets/Mods/HowToMakeAMod.txt
!UnityProject/Assets/Mods/LevelTileGuide.blend
!UnityProject/Assets/Mods/inbuild_*
!UnityProject/Assets/Mods/Reference*

# Temp folder
