
# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / Visual Studio Code / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
/UnityProject/.vscode/

# Unity generated
# ===============
/UnityProject/[Tt]emp/
/UnityProject/[Oo]bj/
/UnityProject/[Bb]uild
/UnityProject/[Bb]uilds/
/UnityProject/[Ll]ibrary/
/UnityProject/sysinfo.txt
/UnityProject/*.stackdump
/UnityProject/.vs/

# Mod bundles
# ===============
UnityProject/Assets/Mods/*
!UnityProject/Assets/Mods/HowToMakeAMod.txt
!UnityProject/Assets/Mods/LevelTileGuide.blend

# Temp folder
UnityProject/Assets/ShaderForge/*
MilkorMGLMK1s.mlt
HighriseLevelChunkTest.mlt
HeizerDefensePar-1.mlt
HaloGun.mlt
HKUSPSource.mlt
DC15Blaster.mlt
ChiappaNew.unitypackage
ChiappaDoubleEagleMayaSource.mlt
ChiappaDoubleEagle.unitypackage
ChauChatSource.mlt
AlyxGun.mlt
.mayaSwatches/SW500Source.mlt.swatches
.mayaSwatches/Roth-Steyr M1907.mlt.swatches
.mayaSwatches/MilkorMGLMK1s.mlt.swatches
.mayaSwatches/HighriseLevelChunkTest.mlt.swatches
.mayaSwatches/HeizerDefensePar-1.mlt.swatches
.mayaSwatches/HaloGun.mlt.swatches
.mayaSwatches/HKUSPSource.mlt.swatches
.mayaSwatches/DC15Blaster.mlt.swatches
.mayaSwatches/ChiappaDoubleEagleMayaSource.mlt.swatches
.mayaSwatches/ChauChatSource.mlt.swatches
.mayaSwatches/AlyxGun.mlt.swatches
UnityProject/Assets/Mods/LevelTileGuide.fbx.meta
UnityProject/Assets/Mods/LevelTileGuide.fbx
UnityProject/Assets/Mods/CustomLevelTiles.meta
UnityProject/Assets/Mods/CustomGuns.meta
UnityProject/Assets/Models/map_occlusion.png.meta
UnityProject/Assets/Models/map_occlusion.png
UnityProject/Assets/Materials/levelmat.mat.meta
UnityProject/Assets/Materials/levelmat.mat
UnityProject/Assets/Materials/StandardVertexColored.shader.meta
UnityProject/Assets/Materials/StandardVertexColored.shader
UnityProject/Assets/Effects/muzzleflasheffect_heizer.prefab.meta
UnityProject/Assets/Effects/muzzleflasheffect_heizer.prefab
SW500Source.mlt
SW 500.fbx
RothSteyrM1907.unitypackage
Roth-Steyr M1907.mlt
UnityProject/Assets/ShaderForge.meta
halo_m6d_shoot1.wav
